@import url(https://fonts.googleapis.com/css?family=Maven+Pro);


body {
    font-family: 'Maven+Pro', Tahoma, sans-serif;
    border-top-width: 0;
}

h1, h2, h3 {
    letter-spacing: 0em;
}

.bullet {
    list-style: initial;
    margin-left: 20px;
    margin-top: 10px;
}

#queldoreiNav {
    width: auto;
}


#queldoreiNav>li>a {
    font-size: 35px;
    letter-spacing: normal;
    font-weight: 200;
    text-transform: uppercase;
    color: #ffffff;
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}

#queldoreiNav>li>a>span {
     transition: none !important;
     -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}

header.fixed #queldoreiNav {
    margin: 12px 0 14px -14px;
}
header.fixed #queldoreiNav>li>a {
    font-size: 27px;
}

#queldoreiNav>li>a span {
    padding: 4px 10px;
}

.footer-info h4 {
    letter-spacing: normal;
}

#queldoreiNav div.sub-wrapper {
    top: 8px;
}

.search-field #queldoreiNav {
    width: auto;
}


@media only screen and (max-width: 1200px) and (min-width: 960px){
    .search-field #queldoreiNav, .search-field #nav {
        /*width: 420px;*/
        width: auto;
    }
    .search-field #search {
        width: 94px;
    }
    #search_mini_form .form-search button {
        margin: -29px 0 0 109px !important;
    }
}


/*@media only screen and (max-width: 1400px) and (min-width: 960px){*/
@media only screen and (min-width: 960px){
    .top-dropdowns {
        top: 20% !important;
    }
    .fixed .top-dropdowns {
        top: 50% !important;
    }
}
.quick-view {
    left: 28%;
    display: none !important;
}

/*#nav>li>a, #nav ul li a, #nav>li>a>span, #mobile-nav>li>a, #mobile-nav ul li a, #mobile-nav>li>a>span, #queldoreiNav>li>a, #queldoreiNav ul li a, #queldoreiNav>li>a>span {*/
    /*transition: all 600ms ease-in-out;*/
    /*-webkit-transition: all 600ms ease-in-out;*/
    /*-moz-transition: all 600ms ease-in-out;*/
    /*-o-transition: all 600ms ease-in-out;*/
/*}*/

/*
.fixed #queldoreiNav>li>a span {
    padding: 0px 10px;
}
*/
/*
.fixed #queldoreiNav>li>a  {
    font-size: 32px;
}
*/

header {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.cart-top > a span {
    font-family: "Yanone Kaffeesatz", Tahoma, Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.block .block-title strong {
    letter-spacing: normal;
}

header a.logo {
    text-decoration: none !important;
    margin: 0;
    /*background-image:url("/skin/frontend/shopper/default/images/pattern-logo.gif");*/
    padding: 16px 32px;
}


@media only screen and (max-width: 959px) and (min-width: 768px){
    header .grid_12 {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .row {
        margin:0 auto;
        width: 100%;
    }

}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .row {
        margin: 0 auto;
        width: 100%;
    }

    .grid_12 {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    .top-switch-bg {
        display: none;
    }
}

.header-container .links li {
    padding: 0 3px;
    margin: 0 0;
}

@media only screen and (max-width: 767px) {
    .row {
        margin: 0 auto;
        width: 100%;
    }

    .grid_12 {
        width: 100%;
        margin: 0;
    }

    .header-container  .links li {
        padding: 10px 10px;
        display: block;
        text-align: left;
        float: left;
    }

    .header-container .links li.separator {
        display: none;
    }

    header a.logo img {
        max-width: 20%;
    }
}



.product-additional .block .block-content li {
    margin: 3px 0 0 0 !important;
}

div#faq a:hover {
    text-decoration: underline;
}

div#faq a {
    font-family: 'Yanone Kaffeesatz';
    font-size: 19px;
}

#faq li div {
    display: none;
    /*width: 100%;*/
    position: relative;
    padding: 0 0 0 0;
    margin: 7px 0 27px 0;
}

#faq li div p {
    padding: 0 0 7px 0;
    margin: 0 0 0 0;
}

#faq table td {
    padding: 0px 4px;
    font-size: 0.8rem;
}

#faq .data-table th {
    padding: 2px 4px !important;
}


#verzenden-en-retourneren table td {
    padding: 6px 4px;
    font-size: 0.8rem;
}

#verzenden-en-retourneren tr:nth-child(4n+3){
    background-color: #F5F3F3;
}
#verzenden-en-retourneren tr:nth-child(4n+4){
    background-color: #F5F3F3;
}

#verzenden-en-retourneren table th {
    padding: 16px 4px !important;
}

header .grid_12 {
/*margin-left: 0;*/
}

header .row {
/*margin: 0 0;*/
}

/*smaller logo when scrolling*/
.fixed .main-logo {
    width: 60px;
    height: 60px;
}

header.fixed a.logo {
    margin: 0 0;
}

.slider {
    padding: 0px 0 20px;
}

.fullwidthbanner-container .fullwidthbanner {
    max-height: 400px !important;
}

.box-rewardpoints-history .box-head h2 {
    background: none;
}
#notice-cookie-block{
    padding: 8px 20px;
    background-color: #D8BCD8;
    text-align: right;
}

#notice-cookie-block span {
    background-color: #A297A1;
}

#notice-cookie-block .actions {
    padding: 11px 0;
}

/*page-title-bg {*/
    /*background-color: #D8BCD8 !important;*/
    /*background: #D8BCD8 !important;*/
/*}*/
.page-title-bg {
    background-color: #f5f5f3;
    background-image: url("/skin/frontend/shopper/default/images/pattern-logo.gif");
}
.cart .cart-collaterals h2 {
    letter-spacing: normal;
}

#shopping-cart-totals-table strong {
    letter-spacing: normal;
    text-transform:  none !important;
    font-size: inherit !important;
    font-family: 'Maven+Pro', Tahoma, sans-serif !important;
    font-weight: bold;
}

#discount-coupon-form .discount {
     margin-top: 70px;
}

#discount-coupon-form .buttons-set button.button {
    margin-bottom: 4px;
}

#rewardpoints-needmore-points {
    font-size: inherit;
    font-weight: inherit;
}

.rewardpoints-index-policy h1 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: -1.5px;
}

.rewardpoints-index-policy .ox_list_simple{
    list-style: inherit;
    margin: 10px 20px;
}

.rewardpoints-money {
    color: #5c9e56;
    font-size: 19px;
    font-family: "Yanone Kaffeesatz";
    font-weight: 200;
}

.rewardpoints-money a {
    font-family: 'Maven+Pro', Tahoma, sans-serif;
    font-size: 0.8rem;
}

.block-slider .slides > li strong {
    letter-spacing: normal;
}

.cms-index-index .block-slider .slides > li strong {
    letter-spacing: normal;
}

.account-create #is_subscribed {
    margin-bottom: 20px;
}

.account-create a.back-link {
    display: none;
}


.customer-account-create .account-create p.required {
    text-align: left;
    padding-left: 14px;
}

.account-create .buttons-set .back-link {
    float: left;
    padding: 20px 14px;
}

.account-create h2 {
    visibility: hidden;
}

/*.account-create #form-validate li {*/
    /*margin: 0 50px 50px 0;*/
    /*float: left;*/
/*}*/


#login-form .link-tip {
    margin-left: 5px;
    font-size: 0.7rem;
    font-style: italic;
    display: -webkit-inline-box;
}

#login-form .buttons-set {
    padding: 15px 0px 35px 0;
    margin: 0 0px;
    text-align: right;
}

.registered-users .buttons-set {
    margin-left: 0;
}

.registered-users #forgot span {
    background-color: #B7BAB8;
}

.registered-users input.input-text {
    width: 268px;
}

.rewardpoints-name img {
    margin-top: -3px;
}

.rewardpoints-index-index .info-summary p {
    margin-top: 8px;
}

.page-title {
    margin: 0 0 !important;
}

div.account-create .page-title {
    margin: 0 15px !important;
}

.col2-left-layout .page-title {
    margin-left: 0;
}

.remember-me-popup {
    border: none;
}

.remember-me-popup h3 {
    background-color: #a3d48d;
    background: #a3d48d;
}

.remember-me-popup .remember-me-popup-body a {
    border: 1px solid #a3d48d;
    background: #a3d48d url('/skin/frontend/shopper/default/images/btn_overlay.png') 0 0 repeat-x;
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#remember-me-box .link-tip {
    padding-left: 14px;
}

#product_addtocart_form .info {
    border-bottom: 1px solid;
    border-color: rgba(227,227,227,0.61);
    width: 100%;
    margin: 18px 0;
}

/*#product_addtocart_form .info tr {
    border-bottom: 1px solid;
    border-color: rgba(227,227,227,0.61);
}*/

#product_addtocart_form .info th {
    padding: 3px 24px 6px 3px;
    font-weight: bold;
}

#product_addtocart_form table.info td {
    padding: 3px 24px 6px 3px;
}

.product-view .qty-container .unit {
    float: left;
    margin-left: 10px;
    line-height: 30px;
    color: #000;
    color: rgba(0,0,0,0.67);
}

#product_addtocart_form .sku {
    font-weight: normal;
}

#product_addtocart_form .minimum-amount {
    margin-bottom: 10px;
}

.hover .price-unit {
    display: block;
    color:#fff
}

.products-grid li.item {
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 303px; /*to avoid empty grid cells when product name on 2 lines */
}

.products-grid .product-image img {
    border-width: 1px;
    border-color: #E7EDEB;
    border-style: solid;
}

.category-products .add-to-links {
    display: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #f3f3f3;
    background: #fff;
    font-size: 12px;
}

.category-products .add-to-links a {
    color: #4d4d4d;
}

.regular .button.btn-cart {
    display: none;
}

.button.btn-cart span {
    font-family: 'Maven+Pro', Tahoma, sans-serif;
}

@media only screen and (min-width: 960px){
    .regular .price-box{
        display: none;
    }
}

.box-account.box-info.box-rewardpoints-summary h2 {
    display: none;
}
.box-account.box-info.box-rewardpoints-summary strong.rewardpoints-money a {
    display: none;
}

#reward_ajax_loading {
    margin: 20px;
}
.cart .cart-collaterals .cart-total {
    padding: 0 0 5px 0;
}

form#co-shipping-method-form li label {
    font-weight: normal;
}

#rewardpoints-slider {
    display: none;
}

.cart-block .cart-coupon dd {
    margin: 0;
}

.rewards-sales-rules .not-logged-in-warning {
    font-weight: bold;
    padding-bottom:  20px ;
}

#cart-rewards-form dd {
    margin: 0;
}

.opc-wrapper-opc .order-info {
    padding: 10px 0 30px 0;
}

.opc-wrapper-opc .comment-block {
    display: none;
}

.catalog-product-compare-index #notice-cookie-block{
    display: none;
}

.block-content li, .block .block-content li.item, .block-layered-nav .block-content dd li, .product-tabs-content ul.disc li {
    background-image: none;
}

#narrow-by-list li, #left-nav li, .currently li {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

button.button span span {
    text-transform: none;
}

.cms-page-view h1 {
    font-size: 40px;
    padding-bottom: 50px;
}

.cms-page-view .col-main ul {
    list-style-type: inherit;
    padding-left: 30px;
    padding-bottom: 10px;
}

.cms-page-view .col-main ol {
    list-style-type: decimal;
    padding-left: 30px;
    padding-bottom: 10px;
}


.cms-privacy-beleid .col-main h2 {
    padding-top: 20px;
}

#contactForm h2.legend {
    float: inherit;
    font-weight: normal;
    font-size: 30px;
    border: none;
    background: inherit;
    color: inherit;
    margin: 0 0 30px 0px;
    padding: 0 0;
    position: inherit;
}

.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month {
    width: 30px;
}

.form-list .customer-dob .dob-year {
    width: 60px;
}

.slide-white {
    color: #ffffff !important;
}

.category-description a {
    text-decoration: underline;
    color: #000000;
}

.customer-account-login .account-login {
    padding:0 10px;
}

.customer-account-create .account-create {
    padding:0 10px;
}


.footer-info ul.social {
    margin: 0 0 !important;
}

.footer-info ul.social li a.google {
    background-color: #a60b08;
}
@media only screen and (max-width: 900px){
    .footer-container ul.links {
        /*width: 100% !important;*/

    }
    .footer-container ul.links li {
        width: 200px;
        display: block;
        text-align: left;
        line-height: 0px;
        margin: 24px 14px;
    }

}

.footer-container .kk-copyright {
    float: right;
    text-align: right;
}
footer ul.links {
    float: left!important;
}

@media only screen and (max-width: 1200px){
    .footer-container .kk-copyright {
        display: none;
    }

}

li.success-msg a, li.error-msg a {
    text-decoration: underline !important;
}

#contactForm ul.form-list {
    list-style: none;
}
/*.account-create .info {*/
    /*padding: 30px 30px;*/
    /*margin: 20px 12px;*/
    /*background-color: #d5ebcb;*/
/*}*/

.message {
    padding: 30px 30px;
    margin: 20px 0px;
    background-color: #d5ebcb;
}
.message ul {
    list-style: disc;
    margin-left: 30px;
}

.account-create .info h2{
    padding: 12px 0;
    font-family: "yanone kaffeesatz";
    font-size: 28px;
}

.account-create .info p{
    padding: 6px 0;
}

#queldoreiNav li.level0.nav-5 span {
    font-weight: bold;
}

#product_comparison tbody td .std {
    overflow: auto;
    max-height: 300px;
}

/*mobile*/
.nav-container li.parent em {
    height: 44px;
}

#workshops h1 { 
    font-family: "Yanone Kaffeesatz";
    font-size: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

#workshops h2 {
    font-family: "Yanone Kaffeesatz";
    font-size: 30px;
    margin: 50px 0 20px 0;
}

#workshops h3 {
    margin: 0 0 20px 0;
}

#workshops p {
    margin: 10px 0 10px 0;
}

p.workshop-date {
    font-size: 1.1rem;
}

.workshop h2.product-name a {
    font-size: 1.3rem;
}

div#gifts {
    padding: 40px;
    background-color: #d5ebcb;
}

#gifts h2 {
    font-size: 1.7rem;
    font-family: Yanone Kaffeesatz;
}

#gifts p {
    padding-top: 10px;
}



#gifts ul {
    padding-top: 25px;
}

#gifts li {
    float: left;
    padding-right: 1px;
    width: 180px;
}

#gifts button {
    padding-top: 10px;
    padding-bottom: 40px;
}

@media only screen and (min-width: 960px){
    #gifts button {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #gifts p.label {
        /*min-height: 58px;*/
    }
}

.cms-nieuw ul.products-grid {
    list-style: none;
}

.cms-nieuw div.toolbar ul {
    list-style: none;
}

.category-products h2 a {
    font-size: 17px;
    text-transform: none;
    margin-left: 25px;
    text-decoration: underline !important;
}

p.show-all-new-products {
    margin-top: 30px;
}

p.show-all-new-products a {
    text-decoration: underline !important;
}

.alert-stock a {
    color: crimson;
    text-decoration: underline;
}

li.level1.nav-1-10 span {
    font-weight: bold;
}

li.level1.nav-2-5 span {
    font-weight: bold;
}

.old-browser-notice {
    margin: 0;
    padding: 6px 10px;
    background: #d75f07;
    font-size: 12px;
    line-height: 1.15;
    text-align: center;
    color: #fff;
}

.old-browser-notice a {
    color: #F4EA35;
}

div.free-sample-holder {
    clear: both;
    padding: 10px 0;
}

div.free-sample {
    clear: both;
    margin: 20px 0;
    display: none;
    background: #fff;
    border: none;
    border-top: 6px solid #a3d48d;
    padding: 10px 30px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}

div.free-sample p {
    margin: 10px 0;
}

.gift-messages {
    background-image: url("/media/queldorei/shopper/gift.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position-y: 21px;
    padding-bottom: 32px;

}

.gift-messages-form {
    background-color: #f5f5f5;
    padding: 0px 10px 10px 10px;
    margin: 10px 0px;
}

/*#allow-gift-message-container > .inner-box {*/
    /*display: none;*/
/*}*/


#narrow-by-list dt {
    padding-top: 12px;
    font-size: 18px;
}

.top-opc li .number {
    display: block;
    float: left;
    width: 23px;
    height: 23px;
    margin: 7px 5px 0 0;
    background: #dbdbdb;
    line-height: 21px;
    font-family: "Myriad Pro",serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.top-opc li h2 {
    font-size: 13px;
    text-decoration: underline;
}

#billing-address-select, #shipping-address-select {
    width: inherit;
}

textarea#ordercomment-comment {
    width: inherit;
}

div.inchoo-socialconnect-facebook {
    float: left;
    margin-top: 7px;
}

div.inchoo-socialconnect-login .content {
    min-height: inherit !important;
}

div.inchoo-socialconnect-facebook {
    margin-bottom: 30px;
}

#facebook-badge {
    border:none;
    overflow:hidden;
    width:270px;
    height:558px;
}

#twitter-badge {
    margin-left: 12px;
}

#google-badge iframe{
    zoom: 1.0;
    -webkit-transform: scale(0.86);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(0.86);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.86);
    -o-transform-origin: 0 0;
}

.twitter-timeline {
    width: 270px;
}

@media only screen and (max-width: 1200px){
    #facebook-badge {
        width: 192px;
    }
    #twitter-badge {
        margin-left: 0;
    }
    #google-badge iframe{
        -webkit-transform: scale(0.69);
        -webkit-transform-origin: 0 0;
        -moz-transform: scale(0.69);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.69);
        -o-transform-origin: 0 0;
    }
}

