<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ampersand_BillingAgreementFix>
            <version>0.0.1</version>
        </Ampersand_BillingAgreementFix>
    </modules>
    <global>
        <blocks>
            <sales>
                <rewrite>
                    <payment_form_billing_agreement>Ampersand_BillingAgreementFix_Rewrite_Mage_Sales_Block_Payment_Form_Billing_Agreement</payment_form_billing_agreement>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <paypal>
                <rewrite>
                    <data>Ampersand_BillingAgreementFix_Rewrite_Mage_Paypal_Helper_Data</data>
                </rewrite>
            </paypal>
        </helpers>
        <models>
            <paypal>
                <rewrite>
                    <express_checkout>Ampersand_BillingAgreementFix_Rewrite_Mage_Paypal_Model_Express_Checkout</express_checkout>
                    <method_agreement>Ampersand_BillingAgreementFix_Rewrite_Mage_Paypal_Model_Method_Agreement</method_agreement>
                </rewrite>
            </paypal>
            <sales>
                <rewrite>
                    <billing_agreement>Ampersand_BillingAgreementFix_Rewrite_Mage_Sales_Model_Billing_Agreement</billing_agreement>
                </rewrite>
            </sales>
        </models>
    </global>
</config>