<?xml version="1.0"?>
<config>
	<modules>
		<Payplace_Payment>
			<version>0.1.0</version>
		</Payplace_Payment>
	</modules>
	<global>
		<models>
			<Payplace_payment>
				<class>Payplace_Payment_Model</class>
			</Payplace_payment>
		</models>
		<helpers>
			<Payplace_payment>
				<class>Payplace_Payment_Helper</class>
			</Payplace_payment>
		</helpers>
		<blocks>
			<Payplace_payment>
				<class>Payplace_Payment_Block</class>
			</Payplace_payment>
		</blocks>

		<payment>
			<groups>
				<dpos>Payplace_payment</dpos>
			</groups>
		</payment>
	</global>
	<default>
		<payment>
			<Payplace_payment>
				<model>Payplace_payment/base</model>
				<active>0</active>
				<order_status>pending</order_status>
				<title>payplace.express Base</title>
				<debug>off</debug>
				<debug_file_path></debug_file_path>
				<group>dpos</group>
			</Payplace_payment>
			<Payplace_payment_cc>
				<model>Payplace_payment/cc</model>
				<active>1</active>
				<group>dpos</group>
				<order_status>pending</order_status>
				<title>payplace.express Kreditkarte</title>
				<test_mode>0</test_mode>
				<sort_order>1</sort_order>
			</Payplace_payment_cc>
			<Payplace_payment_dd>
				<model>Payplace_payment/dd</model>
				<active>1</active>
				<group>dpos</group>
				<order_status>pending</order_status>
				<title>payplace.express Lastschrift</title>
				<sort_order>1</sort_order>
			</Payplace_payment_dd>
			<Payplace_payment_pp>
				<model>Payplace_payment/pp</model>
				<active>1</active>
				<test_mode>0</test_mode>
				<group>dpos</group>
				<order_status>pending</order_status>
				<title>payplace.express Paypal</title>
				<sort_order>1</sort_order>
				<payment_options>authorized</payment_options>
			</Payplace_payment_pp>
			<Payplace_payment_gp>
				<model>Payplace_payment/gp</model>
				<active>1</active>
				<test_mode>0</test_mode>
				<group>dpos</group>
				<order_status>pending</order_status>
				<title>payplace.express giropay</title>
				<sort_order>1</sort_order>
				<payment_options>authorized</payment_options>
			</Payplace_payment_gp>

		</payment>
	</default>
	<frontend>
		<routers>
			<Payplace_payment>
				<use>standard</use>
				<args>
					<module>Payplace_Payment</module>
					<frontName>Payplace_payment</frontName>
				</args>
			</Payplace_payment>
		</routers>
		<translate>
			<modules>
				<Payplace_Payment>
					<files>
						<default>Payplace_Payment.csv</default>
					</files>
				</Payplace_Payment>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Payplace_Payment>
					<files>
						<default>Payplace_Payment.csv</default>
					</files>
				</Payplace_Payment>
			</modules>
		</translate>
	</adminhtml>
</config>
