<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<Payplace_payment translate="label comment" module="Payplace_payment">
					<label>TITLE_BASE</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<sslmerchant translate="label">
							<label>SSLMERCHANT_TITLE</label>
							<comment>SSLMERCHANT_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sslmerchant>
						<secret translate="label">
							<label>SECRET_TITLE</label>
							<comment>SECRET_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</secret>
						<form_merchantname translate="label">
							<label>FORM_MERCHANTNAME_TITLE</label>
							<comment>FORM_MERCHANTNAME_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</form_merchantname>
						<notificationfailedurl translate="label">
							<label>NOTIFICATIONFAILEDURL_TITLE</label>
							<comment>NOTIFICATIONFAILEDURL_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</notificationfailedurl>
						<cssurl translate="label">
							<label>CSSURL_TITLE</label>
							<comment>CSSURL_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</cssurl>
						<debug translate="label">
							<label>DEBUG_TITLE</label>
							<comment>DEBUG_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>Payplace_payment/system_config_source_dropdown_debuglevel
							</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</debug>
						<debug_file_path translate="label">
							<label>DEBUG_FILE_PATH_TITLE</label>
							<comment>DEBUG_FILE_PATH_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</debug_file_path>
					</fields>
				</Payplace_payment>
				<Payplace_payment_cc translate="label comment" module="Payplace_payment">
					<label>TITLE_CC</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>STATUS_TITLE</label>
							<comment>STATUS_DESCR</comment>
							<frontend_type>select</frontend_type>
							<config_path>payment/Payplace_payment_cc/active</config_path>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<test_mode translate="label">
							<label>TEST_MODE_TITLE</label>
							<comment>TEST_MODE_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</test_mode>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<transactiontype translate="label">
							<label>TRANSACTIONTYPE_TITLE</label>
							<comment>TRANSACTIONTYPE_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>Payplace_payment/system_config_source_dropdown_transactiontype
							</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</transactiontype>
						<accepture translate="label">
							<label>AUTOCAPTURE_TITLE</label>
							<comment>AUTOCAPTURE_DESCR_CC</comment>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</accepture>

						<order_status translate="label">
							<label>ORDER_STATUS_TITLE</label>
							<comment>ORDER_STATUS_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status
							</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<acceptcountries translate="label">
							<label>ACCEPTCOUNTRIES_TITLE</label>
							<comment>ACCEPTCOUNTRIES_DESCR</comment>
							<frontend_type>multiselect</frontend_type>
							<sort_order>6</sort_order>
							<source_model>adminhtml/system_config_source_country
							</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</acceptcountries>

						<rejectcountries translate="label">
							<label>REJECTCOUNTRIES_TITLE</label>
							<comment>REJECTCOUNTRIES_DESCR</comment>
							<frontend_type>multiselect</frontend_type>
							<sort_order>6</sort_order>
							<source_model>adminhtml/system_config_source_country
							</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</rejectcountries>
						<payment_options translate="label">
							<label>PAYMENTOPTIONS_TITLE</label>
							<comment>PAYMENTOPTIONS_DESCR_CC</comment>
							<frontend_type>Multiselect</frontend_type>
							<source_model>Payplace_payment/system_config_source_dropdown_paymentoption
							</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</payment_options>
						<deliverycountryaction translate="label">
							<label>DELIVERYCOUNTRY_ACTION_TITLE</label>
							<comment>DELIVERYCOUNTRY_ACTION_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>Payplace_payment/system_config_source_dropdown_deliverycountryaction
							</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</deliverycountryaction>
						<form_merchantref translate="label">
							<label>MERCHANTREF_TITLE</label>
							<comment>MERCHANTREF_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</form_merchantref>
					</fields>
				</Payplace_payment_cc>
				<Payplace_payment_dd translate="label comment" module="Payplace_payment">
					<label>TITLE_DD</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<active translate="label">
							<label>STATUS_TITLE</label>
							<comment>STATUS_DESCR</comment>
							<frontend_type>select</frontend_type>
							<config_path>payment/Payplace_payment_dd/active</config_path>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<test_mode translate="label">
							<label>TEST_MODE_TITLE</label>
							<comment>TEST_MODE_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</test_mode>
						<payment_options translate="label">
							<label>PAYMENTOPTIONS_TITLE</label>
							<comment>PAYMENTOPTIONS_DESCR_DD</comment>
							<frontend_type>Multiselect</frontend_type>
							<source_model>Payplace_payment/system_config_source_dropdown_paymentoptionsELV
							</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</payment_options>
						<transactiontype translate="label">
							<label>TRANSACTIONTYPE_TITLE</label>
							<comment>TRANSACTIONTYPE_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>Payplace_payment/system_config_source_dropdown_transactiontype
							</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</transactiontype>
						<accepture translate="label">
							<label>AUTOCAPTURE_TITLE</label>
							<comment>AUTOCAPTURE_DESCR_DD</comment>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</accepture>
						<mandatprefix translate="label">
							<label>MANDATEPREFIX_TITLE</label>
							<comment>MANDATEPREFIX_DESCR_DD</comment>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</mandatprefix>
						<mandatename translate="label">
							<label>MANDATENAME_TITLE</label>
							<comment>MANDATENAME_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</mandatename>
						<sequencetype translate="label">
							<label>SEQUENCETYPE_TITLE</label>
							<comment>SEQUENCETYPE_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>Payplace_payment/system_config_source_dropdown_sequencetype
							</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sequencetype>
					</fields>
				</Payplace_payment_dd>
				<Payplace_payment_pp translate="label comment" module="Payplace_payment">
					<label>TITLE_PP</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<active translate="label">
							<label>STATUS_TITLE</label>
							<comment>STATUS_DESCR</comment>
							<frontend_type>select</frontend_type>
							<config_path>payment/Payplace_payment_pp/active</config_path>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<test_mode translate="label">
							<label>TEST_MODE_TITLE</label>
							<comment>TEST_MODE_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</test_mode>
						<order_status translate="label">
							<label>ORDER_STATUS_TITLE</label>
							<comment>ORDER_STATUS_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status
							</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<payment_options translate="label">
							<label>TRANSACTIONTYPE_TITLE</label>
							<comment>TRANSACTIONTYPE_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>Payplace_payment/system_config_source_dropdown_transactiontype
							</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</payment_options>
					</fields>
				</Payplace_payment_pp>
				<Payplace_payment_gp translate="label comment" module="Payplace_payment">
					<label>TITLE_GP</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<active translate="label">
							<label>STATUS_TITLE</label>
							<comment>STATUS_DESCR</comment>
							<frontend_type>select</frontend_type>
							<config_path>payment/Payplace_payment_gp/active</config_path>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<test_mode translate="label">
							<label>TEST_MODE_TITLE</label>
							<comment>TEST_MODE_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</test_mode>
						<ageverification translate="label">
							<label>PAYMENTOPTIONS_TITLE_GP</label>
							<comment>PAYMENTOPTIONS_DESCR_GP</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</ageverification>

						<order_status translate="label">
							<label>ORDER_STATUS_TITLE</label>
							<comment>ORDER_STATUS_DESCR</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status
							</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<ageverification translate="label">
							<label>PAYMENTOPTIONS_TITLE_GP</label>
							<comment>PAYMENTOPTIONS_DESCR_GP</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</ageverification>
						<label0 translate="label">
							<label>GP_LABEL_TITLE</label>
							<comment>GP_LABEL_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</label0>
						<text0 translate="label">
							<label>GP_TEXT_TITLE</label>
							<comment>GP_TEXT_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</text0>
						<label1 translate="label">
							<label>GP_LABEL_TITLE</label>
							<comment>GP_LABEL_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</label1>
						<text1 translate="label">
							<label>GP_TEXT_TITLE</label>
							<comment>GP_TEXT_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</text1>
						<label2 translate="label">
							<label>GP_LABEL_TITLE</label>
							<comment>GP_LABEL_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>14</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</label2>
						<text2 translate="label">
							<label>GP_TEXT_TITLE</label>
							<comment>GP_TEXT_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</text2>
						<label3 translate="label">
							<label>GP_LABEL_TITLE</label>
							<comment>GP_LABEL_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</label3>
						<text3 translate="label">
							<label>GP_TEXT_TITLE</label>
							<comment>GP_TEXT_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</text3>
						<label4 translate="label">
							<label>GP_LABEL_TITLE</label>
							<comment>GP_LABEL_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</label4>
						<text4 translate="label">
							<label>GP_TEXT_TITLE</label>
							<comment>GP_TEXT_DESCR</comment>
							<frontend_type>text</frontend_type>
							<sort_order>19</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</text4>
					</fields>
				</Payplace_payment_gp>

			</groups>
		</payment>

	</sections>

</config>
